.Container{
     background-color: #000;
     color: white;
     width: 80%;
     margin: auto;
     height: 700px;
}
.Container > h2{
     padding: 30px 2px;
     width: 50%;
     text-align: center;
     margin: auto;
     text-transform: uppercase;
     font-size: 15px;
     font-weight: 200;
}
.Container_content{
     display: flex;
     justify-content: center;
     margin-top: 80px;
}

.left_content{
     margin-left: 50px;
     font-size: 35px;
     width: 50%;
}
.right_content{
     width: 50%;
}
.right_content div > p{
     margin-top: 10px;
     width: 80%;
     font-size: 15px;
     color: gray;
}
.second{
     margin: 30px 0px;
}
@media only screen and (max-width:760px){
     .Container{
          background-color: #000;
          color: white;
          width: 100%;
          height: 900px; 
          margin: auto;
     }
     .Container_content {
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           align-items: center;
     }
     .left_content > p{
          font-size: 20px;
     }
     .left_content{
          width: 90%;
          margin-left: 0px;
     }
     .right_content{
          width: 90%;
          margin: auto;

     }
}

